.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #f5f5f5;
  padding: 20px;
}

.posts-container h1 {
  font-size: 2.5 rem;
  line-height: 1.1;
  margin: 0;
  margin-left: 20px;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-top: 0;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
  font-size: 1.5em;
  margin-top: auto;
  margin-bottom: 0;
}

.post p {
  margin-top: auto;
}